.container {
  display: flex;
  flex-direction: column;
  min-width: 450px;
}

.container > * {
  width: 100%;
}

.mat-form-field {
  display: block;
}

textarea {
  height: 100px;
  resize: vertical;
}


.float {
  float: right;
}
