<h1 mat-dialog-title>Adicionar novo Hub</h1>
<div mat-dialog-content class="mat-typography">
  <form [formGroup]="formGroup" class="form-container" >
    <mat-form-field >
      <mat-label>
        Nome
      </mat-label>
      <input matInput type="text" name="name" required formControlName="name" />
      <mat-error *ngIf="!formGroup.get('name').valid && formGroup.get('name').touched">
        Nome é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>
        URL
      </mat-label>
      <input matInput type="text" name="url" required formControlName="url" />
      <mat-error *ngIf="!formGroup.get('url').valid && formGroup.get('url').touched">
        URL é obrigatório
      </mat-error>
    </mat-form-field>

    <mat-form-field >
      <mat-label>
        Descrição
      </mat-label>
      <input matInput type="text" name="description" formControlName="description" />
    </mat-form-field>


    <h3>Canais</h3>

    <div formArrayName="channels">
      <div *ngFor="let channel of channels.controls; let i=index">
        <div [formGroupName]="i">
          <mat-form-field >
            <mat-label>
              Nome
            </mat-label>
            <input matInput type="text" name="description" formControlName="description" />
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions class fxLayout="row wrap" fxLayoutAlign="end end" fxLayoutGap="10px">
  <button mat-raised-button color="primary" type="button" >
   Confirmar
  </button>
</div>
