<div class="container">

<h2 mat-dialog-title>Adicionar novo Hub</h2>

<mat-dialog-content [formGroup]="formGroup">
  <mat-form-field>
    <input
      matInput
      placeholder="Nome"
      type="text"
      name="name"
      required
      formControlName="name"
    />
    <mat-error
      *ngIf="!formGroup.get('name').valid && formGroup.get('name').touched"
    >
      Nome é obrigatório
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="URL"
      type="text"
      name="url"
      required
      formControlName="url"
    />
    <mat-error
      *ngIf="!formGroup.get('url').valid && formGroup.get('url').touched"
    >
      URL é obrigatório
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input
      matInput
      placeholder="Descrição"
      type="text"
      name="description"
      formControlName="description"
    />
  </mat-form-field>

  <div class="formArray">
    <h3 mat-dialog-title>
      Métodos
      <button
        class="float"
        mat-icon-button
        color="primary"
        (click)="addChannel()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </h3>

    <div formArrayName="channels">
      <div *ngFor="let channel of channels.controls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field>
            <input
              matInput
              placeholder="Nome do Canal"
              type="text"
              name="name"
              formControlName="name"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="formArray">
    <h3 mat-dialog-title>
      Streams
      <button
        class="float"
        mat-icon-button
        color="primary"
        (click)="addEvent()"
      >
        <mat-icon>add</mat-icon>
      </button>
    </h3>

    <div formArrayName="events">
      <div *ngFor="let evento of events.controls; let i = index">
        <div [formGroupName]="i">
          <mat-form-field>
            <input
              matInput
              placeholder="Nome do Evento"
              type="text"
              name="name"
              formControlName="name"
            />
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="float">
  <button class="mat-raised-button" (click)="onNoClick()">Sair</button>
  <button class="mat-raised-button mat-primary" (click)="submit()">Salvar</button>
</mat-dialog-actions>

</div>
